config.dtd

<!ELEMENT jl_options (location+, argBundle*)>
<!ELEMENT location (desc?, path, tuner*)>
<!ATTLIST location type (jvm|jar) "jar">
<!ELEMENT path (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT tuner (#PCDATA)>
<!ELEMENT argBundle (summary?, flag+, needsIo?)>
<!ELEMENT summary (#PCDATA)>
<!ELEMENT flag (#PCDATA)>
<!ELEMENT needsIo EMPTY>
