config.dtd

<!DOCTYPE jl_options
[
<!ELEMENT jl_options (location+, argBundle*)>
<!ELEMENT location (desc?, path)>
<!ATTLIST location type (jvm|jar) "jar">
<!ELEMENT path (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT argBundle (summary?, flag*, needsIo?)>
<!ELEMENT summary (#PCDATA)>
<!ELEMENT flag (#PCDATA)>
<!ELEMENT needsIo EMPTY>
]>
